/* main styles */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  body {
      background-color: rgb(208, 236, 236);
      flex: 1;
      display: flex;
      flex-direction: column;
  }
  
  nav, footer {
      background-color: #0531e2;
      color: #fff;
      padding: 10px 0;
      width: 100%;
      position: fixed;
      left: 0;
      z-index: 1000;
  }
  
  nav {
      top: 0;
  }
  
  footer {
      bottom: 0;
      margin-top: auto;
  }
  
  nav ul, footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  nav ul li, footer ul li {
      width: 33.33%;
      text-align: center;
  }
  
  nav ul li a, footer ul li a {
      color: #fff;
      text-decoration: none;
  }
  
  .link-container {
      display: inline-block;
      position: relative;
      background-color: black;
      padding: 5px 10px;
      border-radius: 10px;
      margin: 0 10px;
  }
  
  .link-container a {
      color: #fff;
      text-decoration: none;
  }
  
  .link-container a:before {
      content: "";
      background: linear-gradient(90deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3);
      position: absolute;
      top: -5px;
      left: -5px;
      background-size: 200%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 15px;
  }
  
  .link-container a:hover:before {
      opacity: 1;
  }
  
  @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 200% 0;
      }
  }
  
  /* Additional styles */
  
  .welcome-text {
      font-size: 1.5em;
      font-weight: bold;
  }
  
  .welcome-text, .rainbow-text {
      background: linear-gradient(90deg,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3);
      background-size: 200%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: glowing 20s linear infinite;
  }
  
  @keyframes glowing {
      0% {
          background-position: 0 0;
      }
      100% {
          background-position: 200% 0;
      }
  }
  
  .words {
      text-align: center;
  }
  
  .login-form {
      margin-top: 30px;
  }
  
  .margin-bot {
      margin-bottom: 30px;
  }
  
  .wheel {
      margin-bottom: 20px;
      background-color: #0531e2; 
      color: white;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center; 
      text-align: center; 
      width: 100px; 
  }
  
  .options {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;
  }
  
  .options li {
      margin: 5px 0;
  }
  
  .margin-bot2 {
      margin-bottom: 15px;
  }
  
  .decision-wheel-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
  }
  
  #decision-wheel {
      width: 100%;
      height: 100%;
  }
  
  #indicator {
      position: absolute;
      width: 5px;
      height: 30%;
      background-color: red;
      left: calc(50% - 1px);
      top: 50%;
      transform-origin: top;
  }
  
/* profile specific */

  .spin-wheel-button {
    background-color: #14bcf4; 
    border: none; 
    color: white; 
    padding: 10px 16px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
}

.spin-wheel-button:hover {
    background-color: #0da6d9; 
}


  .wheel-container {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .action-buttons {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  .action-buttons form {
      margin-right: 10px;
  }
  
  .action-buttons form:last-child {
      margin-right: 0;
  }
  
  #decision-wheel text {
      fill: black;
      font-size: 16px;
      text-anchor: middle;
      text-shadow: 0 0 20px white;
  }
  
  /* Footer specific styles */
  .created-by {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .created-by .rainbow-text {
      background: linear-gradient(90deg,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3);
      background-size: 200%;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: glowing 20s linear infinite;
  }
  
  /* Action button styles */
  .action-button {
      background-color: black;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      text-decoration: none;
  }
  
  .action-button:hover {
      background-color: #333;
  }
  
 
  .wheels-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      gap: 20px; 
  }
  
  /* Create Wheel button */
.create-button {
    background-color: #14bcf4; 
    color: black; 
    font-weight: bold; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
}

.create-button:hover {
    background-color: #0da6d9; 
}

/* wheel edit page */
.edit-wheel-container {
    background-color: #0531e2; 
    color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px; 
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
}

.edit-wheel-container label {
    display: block;
}

.edit-wheel-container input[type="text"] {
    width: 90%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.edit-wheel-container button {
    background-color: black; 
    color: silver; 
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-wheel-container button:hover {
    background-color: #333;
}
