<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            {% if 'user_id' in session %}
                <li class="link-container"><a href="{{ url_for('profile') }}">Profile</a></li>
                <li class="link-container"><a href="{{ url_for('wheels') }}">Wheels</a></li>
                <li class="link-container"><a href="{{ url_for('logout') }}">Logout</a></li>  
            {% else %}
                <li class="link-container"><a href="{{ url_for('hello') }}">Home</a></li>
                <li class="link-container"><a href="{{ url_for('signupuserroute') }}">Sign Up</a></li>
                <li class="link-container"><a href="{{ url_for('login') }}">Login</a></li> 
            {% endif %}
        </ul>
    </nav>

    {% block body %}{% endblock %}

    <div id="selected-option"></div>

    <footer>
        <div class="footer-content">
            <p class="footer-text created-by">Created by: <span class="rainbow-text">Warren Wittcop</span></p>
            <p class="link-container"><a href="https://choozy-c8834402e26d.herokuapp.com">Choozy Website</a></p>
            <p class="link-container"><a href="https://github.com/WarrenWittcop/Choozy-Whirl">Choozy Git</a></p>
        </div>
    </footer>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
