{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block body %} 
<div class="words">
    <h1 style="padding-top: 50px;"> Sign Up below</h1>

    <form method="post" action="{{ url_for('signupuserroute') }}" class="signup-form">
        {{ form.hidden_tag() }}
        <input type="text" name="username" placeholder="Username" class="margin-bot"><br>
        <input type="email" name="email" placeholder="Email" class="margin-bot"><br>
        <input type="password" name="password" placeholder="Password" class="margin-bot"><br>
        <button type="submit" class="create-button">Submit</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
