{% extends 'base.html' %}

{% block title %}Wheels{% endblock %}

{% block body %}
<div class="words" style="padding-top: 50px;">
    <h1>Your Wheels</h1>

    <h4>Enter up to 10 options separated by a comma, then press Create Wheel.</h4>

    <!-- Create wheel section -->
    <div class="create-wheel-container">
        <form method="post" action="{{ url_for('wheels') }}" class="wheel-form">
            <input type="hidden" name="action" value="create">
            <input type="text" name="wheel_name" id="wheel_name" placeholder="Wheel Name" maxlength="12" oninput="limitInputLength()" required class="margin-bot"><br>
            <input type="text" name="options" placeholder="Options" required class="margin-bot"><br> 
            <button type="submit" class="margin-bot2 create-button">Create Wheel</button>
        </form>
    </div>

    <!-- Display user wheels -->
    <div class="wheels-container">
        {% if user_wheels %}
            {% set wheel_index = 0 %}
            {% for wheel in user_wheels %}
            <div class="wheel">
                <strong>{{ wheel.name }}</strong>
                <div class="action-buttons">
                    <form method="post" action="{{ url_for('wheels') }}" style="display: inline;">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="wheel_index" value="{{ wheel_index }}">
                        <button type="submit" class="action-button">Delete</button>
                    </form>
                    <a href="{{ url_for('edit_wheel', wheel_index=loop.index0) }}" class="action-button">Edit</a>
                </div>
            </div>
            {% set wheel_index = wheel_index + 1 %}
            {% endfor %}
        {% else %}
            <p>No wheels found. Create one!</p>
        {% endif %}
    </div>
</div>

<script>
    function limitInputLength() {
        var input = document.getElementById("wheel_name");
        if (input.value.length > 12) {
            input.value = input.value.slice(0, 12);
        }
    }
</script>

{% endblock %}
